In [1]:
import pandas as pd

In [166]:
df = pd.read_json('data2/data/nobel_winners_dirty.json')

In [126]:
df.info()   #갯수가 안맞을 때 처리 - 공란이 있는 데이터를 없애거나 채움(데이터를 정렬했을 때 가장 근접한 것 or 전체의 평균값 : interpolation)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
born_in           1052 non-null object
category          1052 non-null object
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
name              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: int64(1), object(11)
memory usage: 98.7+ KB

data type 종류
- object(string) 
- int64
- float64
- datetime
- category

gender : object -> 남:0 , 여:1 로 형 변환 가능(category)

In [127]:
df.describe(include='all') #숫자 데이터 외에 다른 컬럼에 관한 정보 출력

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052,1052.000000
unique,40,7,59,853,563,2,893,998,735,410,1043,NaN
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Frederick Sanger,,,"Sydney Brenner , born in South Africa , Physi...",NaN
freq,910,250,350,4,362,982,4,2,29,409,2,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.729087
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.155829
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1809.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000

In [8]:
df.dtypes

born_in           object
category          object
country           object
date_of_birth     object
date_of_death     object
gender            object
link              object
name              object
place_of_birth    object
place_of_death    object
text              object
year               int64
dtype: object

In [128]:
df.shape

(1052, 12)

In [14]:
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Simon Kuznets *,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,Menachem Begin *,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Shimon Peres *,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner *,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,Gerty Cori *,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori *,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,Otto Loewi *,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,Richard Kuhn *,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,Karl von Frisch *,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,Eric R. Kandel *,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,International Atomic Energy Agency,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg *,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,Aleksandr M. Prokhorov *,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,John Warcup Cornforth *,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,Elizabeth H. Blackburn *,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [21]:
df.describe(include=['object'])

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,Frederick Sanger,,,"Sydney Brenner , born in South Africa , Physi..."
freq,910,250,350,4,362,982,4,2,29,409,2

In [29]:
df[df['category']=='Chemistry'].country.count()

212

In [30]:
print(df[df['category']=='Chemistry'].country.unique())
len(df[df['category']=='Chemistry'].country.unique())

['' 'Belgium' 'Denmark' 'Czech Republic' 'France' 'Germany' 'Israel'
 'South Africa' 'United Kingdom' 'United States' 'Taiwan' 'Switzerland'
 'Sweden' 'Russia' 'Poland' 'Norway' 'Netherlands' 'Japan' 'Italy'
 'Hungary' 'Finland' 'Egypt' 'Canada' 'Austria' 'Argentina']

25

In [31]:
df.columns[0]

'born_in'

In [129]:
df = df.set_index('name')  #덮어쓰는 방식은 좋지 않음. inplace=True 쓰지 않는 것이 좋다
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [131]:
df.reset_index()
df.head()

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [132]:
bi_col = df.born_in
bi_col

name
César Milstein
Ivo Andric *                                       Bosnia and Herzegovina
Vladimir Prelog *                                  Bosnia and Herzegovina
Institut de Droit International
Auguste Beernaert
Maurice Maeterlinck
Henri La Fontaine
Jules Bordet
Corneille Heymans
Georges Pire
Albert Claude
Christian de Duve
Ilya Prigogine
François Englert
Simon Kuznets *                                                   Belarus
Menachem Begin *                                                  Belarus
Shimon Peres *                                                    Belarus
Karl Adolph Gjellerup
August Krogh
Niels Bohr
Johannes Andreas Grib Fibiger
Henrik Dam
Johannes Vilhelm Jensen
Ben Roy Mottelson
Aage Bohr
Niels Kaj Jerne
Jens Christian Skou
Bertha von Suttner *                                       Czech Republic
Gerty Cori *                                               Czech Republic
Carl Ferdinand Cori *                                      Czech Republic
                                                            ...
Victor Francis Hess
Otto Loewi *                                                      Austria
Richard Kuhn *                                                    Austria
Wolfgang Pauli
Max F. Perutz
Karl von Frisch *                                                 Austria
Konrad Lorenz
Friedrich Hayek
Walter Kohn *                                                     Austria
Eric R. Kandel *                                                  Austria
Elfriede Jelinek
International Atomic Energy Agency
Martin Karplus *                                                  Austria
William Lawrence Bragg *                                        Australia
Sir Howard Florey
Sir Frank Macfarlane Burnet
John Carew Eccles
Aleksandr M. Prokhorov *                                        Australia
Patrick White
John Warcup Cornforth *                                         Australia
John Harsanyi
Peter C. Doherty  & Professor  Rolf Zinkernagel
J. Robin Warren
Barry Marshall
Elizabeth H. Blackburn *                                        Australia
Brian P. Schmidt
Carlos Saavedra Lamas
Bernardo Houssay
Luis Federico Leloir
Adolfo Pérez Esquivel
Name: born_in, Length: 1052, dtype: object

In [167]:
df.set_index('name', drop=True, inplace = True)

In [50]:
df.iloc[0]

born_in
category                                    Physiology or Medicine
country                                                  Argentina
date_of_birth                                       8 October 1927
date_of_death                                        24 March 2002
gender                                                        male
link              http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein
place_of_birth                           Bahía Blanca ,  Argentina
place_of_death                                 Cambridge , England
text                 César Milstein , Physiology or Medicine, 1984
year                                                          1984
Name: César Milstein, dtype: object

In [51]:
df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [137]:
df.loc['César Milstein']

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
César Milstein,,Physiology or Medicine,United Kingdom,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , born in Argentina , Physiolo...",1984

In [55]:
mask = df.year > 2000
winners_since_2000 = df[mask]
winners_since_2000.count()

born_in           202
category          202
country           202
date_of_birth     201
date_of_death     201
gender            200
link              202
place_of_birth    201
place_of_death    201
text              202
year              202
dtype: int64

In [168]:
df.reset_index(inplace = True)

In [139]:
df.born_in.head(10)

0
1    Bosnia and Herzegovina
2    Bosnia and Herzegovina
3
4
5
6
7
8
9
Name: born_in, dtype: object

In [60]:
df.born_in.apply(type) #series.apply(함수명) : series의 각 row에 해당 함수를 적용  - 함수형 패러다임

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
19      <class 'str'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26      <class 'str'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
            ...
1022    <class 'str'>
1023    <class 'str'>
1024    <class 'str'>
1025    <class 'str'>
1026    <class 'str'>
1027    <class 'str'>
1028    <class 'str'>
1029    <class 'str'>
1030    <class 'str'>
1031    <class 'str'>
1032    <class 'str'>
1033    <class 'str'>
1034    <class 'str'>
1035    <class 'str'>
1036    <class 'str'>
1037    <class 'str'>
1038    <class 'str'>
1039    <class 'str'>
1040    <class 'str'>
1041    <class 'str'>
1042    <class 'str'>
1043    <class 'str'>
1044    <class 'str'>
1045    <class 'str'>
1046    <class 'str'>
1047    <class 'str'>
1048    <class 'str'>
1049    <class 'str'>
1050    <class 'str'>
1051    <class 'str'>
Name: born_in, Length: 1052, dtype: object

In [64]:
df.born_in.map(len)  #map은 series에서만 사용가능, apply는 series와 data frame 에 모두 사용가능

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
19      <class 'str'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26      <class 'str'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
            ...
1022    <class 'str'>
1023    <class 'str'>
1024    <class 'str'>
1025    <class 'str'>
1026    <class 'str'>
1027    <class 'str'>
1028    <class 'str'>
1029    <class 'str'>
1030    <class 'str'>
1031    <class 'str'>
1032    <class 'str'>
1033    <class 'str'>
1034    <class 'str'>
1035    <class 'str'>
1036    <class 'str'>
1037    <class 'str'>
1038    <class 'str'>
1039    <class 'str'>
1040    <class 'str'>
1041    <class 'str'>
1042    <class 'str'>
1043    <class 'str'>
1044    <class 'str'>
1045    <class 'str'>
1046    <class 'str'>
1047    <class 'str'>
1048    <class 'str'>
1049    <class 'str'>
1050    <class 'str'>
1051    <class 'str'>
Name: born_in, Length: 1052, dtype: object

In [169]:
def unknown(row):
    if not len(row):
        return 'unknown'
    else:
        return row
df.born_in = df.born_in.map(unknown)

In [141]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,unknown,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,unknown,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,unknown,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
name              1052 non-null object
born_in           1052 non-null object
category          1052 non-null object
country           1052 non-null object
date_of_birth     1044 non-null object
date_of_death     1044 non-null object
gender            1040 non-null object
link              1052 non-null object
place_of_birth    1044 non-null object
place_of_death    1044 non-null object
text              1052 non-null object
year              1052 non-null int64
dtypes: int64(1), object(11)
memory usage: 98.7+ KB

In [170]:
bi_col = df.born_in
bi_col

0                      unknown
1       Bosnia and Herzegovina
2       Bosnia and Herzegovina
3                      unknown
4                      unknown
5                      unknown
6                      unknown
7                      unknown
8                      unknown
9                      unknown
10                     unknown
11                     unknown
12                     unknown
13                     unknown
14                     Belarus
15                     Belarus
16                     Belarus
17                     unknown
18                     unknown
19                     unknown
20                     unknown
21                     unknown
22                     unknown
23                     unknown
24                     unknown
25                     unknown
26                     unknown
27              Czech Republic
28              Czech Republic
29              Czech Republic
                 ...
1022                   unknown
1023                   Austria
1024                   Austria
1025                   unknown
1026                   unknown
1027                   Austria
1028                   unknown
1029                   unknown
1030                   Austria
1031                   Austria
1032                   unknown
1033                   unknown
1034                   Austria
1035                 Australia
1036                   unknown
1037                   unknown
1038                   unknown
1039                 Australia
1040                   unknown
1041                 Australia
1042                   unknown
1043                   unknown
1044                   unknown
1045                   unknown
1046                 Australia
1047                   unknown
1048                   unknown
1049                   unknown
1050                   unknown
1051                   unknown
Name: born_in, Length: 1052, dtype: object

In [74]:
import numpy as np

In [171]:
bi_col.replace('unknown', np.nan, inplace=True)    #np.nan : NaN값으로 만들어 줌 - Not available Number

In [144]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [172]:
name_col = df[df.name.str.contains('\*')].name

In [182]:
# df[df.name.str.contains('\*')].name = name_col.str.replace('*','')
name_col.replace('\*','', inplace=True)
df.name.str.strip()

C:\anaconda\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

0                                        César Milstein
1                                          Ivo Andric *
2                                     Vladimir Prelog *
3                       Institut de Droit International
4                                     Auguste Beernaert
5                                   Maurice Maeterlinck
6                                     Henri La Fontaine
7                                          Jules Bordet
8                                     Corneille Heymans
9                                          Georges Pire
10                                        Albert Claude
11                                    Christian de Duve
12                                       Ilya Prigogine
13                                     François Englert
14                                      Simon Kuznets *
15                                     Menachem Begin *
16                                       Shimon Peres *
17                                Karl Adolph Gjellerup
18                                         August Krogh
19                                           Niels Bohr
20                        Johannes Andreas Grib Fibiger
21                                           Henrik Dam
22                              Johannes Vilhelm Jensen
23                                    Ben Roy Mottelson
24                                            Aage Bohr
25                                      Niels Kaj Jerne
26                                  Jens Christian Skou
27                                 Bertha von Suttner *
28                                         Gerty Cori *
29                                Carl Ferdinand Cori *
                             ...
1022                                Victor Francis Hess
1023                                       Otto Loewi *
1024                                     Richard Kuhn *
1025                                     Wolfgang Pauli
1026                                      Max F. Perutz
1027                                  Karl von Frisch *
1028                                      Konrad Lorenz
1029                                    Friedrich Hayek
1030                                      Walter Kohn *
1031                                   Eric R. Kandel *
1032                                   Elfriede Jelinek
1033                 International Atomic Energy Agency
1034                                   Martin Karplus *
1035                           William Lawrence Bragg *
1036                                  Sir Howard Florey
1037                        Sir Frank Macfarlane Burnet
1038                                  John Carew Eccles
1039                           Aleksandr M. Prokhorov *
1040                                      Patrick White
1041                            John Warcup Cornforth *
1042                                      John Harsanyi
1043    Peter C. Doherty  & Professor  Rolf Zinkernagel
1044                                    J. Robin Warren
1045                                     Barry Marshall
1046                           Elizabeth H. Blackburn *
1047                                   Brian P. Schmidt
1048                              Carlos Saavedra Lamas
1049                                   Bernardo Houssay
1050                               Luis Federico Leloir
1051                              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

In [180]:
df.head()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909

In [89]:
np.nan == np.nan

False

In [92]:
None == False

False

In [93]:
df.born_in.isnull()

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

In [94]:
df.born_in.isna()  #nan

0        True
1       False
2       False
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15      False
16      False
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28      False
29      False
        ...
1022     True
1023    False
1024    False
1025     True
1026     True
1027    False
1028     True
1029     True
1030    False
1031    False
1032     True
1033     True
1034    False
1035    False
1036     True
1037     True
1038     True
1039    False
1040     True
1041    False
1042     True
1043     True
1044     True
1045     True
1046    False
1047     True
1048     True
1049     True
1050     True
1051     True
Name: born_in, Length: 1052, dtype: bool

필요없는 값(*) 지우고 없는 값 채워놓기 / 없는 값 버릴 때는 drop  
: data cleaning

In [148]:
df.dropna()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
14,Simon Kuznets *,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Menachem Begin *,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Shimon Peres *,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
27,Bertha von Suttner *,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Gerty Cori *,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Carl Ferdinand Cori *,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
50,Henry Kissinger *,Germany,Peace,,"May 27, 1923",,male,http://en.wikipedia.org/wiki/Henry_Kissinger,"Fürth , Bavaria, Germany",,"Henry Kissinger *, Peace, 1973",1973
51,Arno Penzias *,Germany,Physics,,"April 26, 1933",,male,http://en.wikipedia.org/wiki/Arno_Penzias,"Munich , Germany",,"Arno Penzias *, Physics, 1978",1978
53,Georges J.F. Köhler *,Germany,Physiology or Medicine,,"April 17, 1946","March 1, 1995",male,http://en.wikipedia.org/wiki/Georges_J.F._K%C3...,Munich,Freiburg im Breisgau,"Georges J.F. Köhler *, Physiology or Medicine,...",1984
58,Jack Steinberger *,Germany,Physics,,"May 25, 1921",,male,http://en.wikipedia.org/wiki/Jack_Steinberger,Bad Kissingen,,"Jack Steinberger *, Physics, 1988",1988
63,Hans G. Dehmelt *,Germany,Physics,,9 September 1922,,male,http://en.wikipedia.org/wiki/Hans_G._Dehmelt,"Görlitz , Germany",,"Hans G. Dehmelt *, Physics, 1989",1989
82,Renato Dulbecco *,Italy,Physiology or Medicine,,"February 22, 1914","February 19, 2012",male,http://en.wikipedia.org/wiki/Renato_Dulbecco,Catanzaro,"La Jolla , California","Renato Dulbecco *, Physiology or Medicine, 1975",1975
87,Riccardo Giacconi *,Italy,Physics,,"October 6, 1931",,male,http://en.wikipedia.org/wiki/Riccardo_Giacconi,"Genoa , Italy",,"Riccardo Giacconi *, Physics, 2002",2002
88,Mario Capecchi *,Italy,Physiology or Medicine,,6 October 1937,,male,http://en.wikipedia.org/wiki/Mario_Capecchi,"Verona , Italy",,"Mario Capecchi *, Physiology or Medicine, 2007",2007
101,Mario José Molina Henríquez *,Mexico,Chemistry,,1943-03-19,,male,http://en.wikipedia.org/wiki/Mario_J._Molina,"Mexico City , Mexico",,"Mario José Molina Henríquez *, Chemistry, 1995",1995
102,Gabriel Lippmann *,Luxembourg,Physics,,16 August 1845,13 July 1921,male,http://en.wikipedia.org/wiki/Gabriel_Lippmann,"Hollerich , Luxembourg","Atlantic Ocean, travelling from Canada to France","Gabriel Lippmann *, Physics, 1908",1908
103,Jules A. Hoffmann *,Luxembourg,Physiology or Medicine,,2 August 1941,,male,http://en.wikipedia.org/wiki/Jules_A._Hoffmann,Echternach,,"Jules A. Hoffmann *, Physiology or Medicine, 2011",2011
104,Andrew Schally *,Lithuania,,,"November 30, 1926",,male,http://en.wikipedia.org/wiki/Andrew_Schally,"Vilnius , Second Polish Republic",,"Andrew Schally *, born in then Poland, now Li...",1977
105,Czesław Miłosz *,Lithuania,Literature,,30 June 1911,14 August 2004,male,http://en.wikipedia.org/wiki/Czes%C5%82aw_Mi%C...,"Šeteniai, near Kėdainiai , (then Russian Emp...","Kraków , Poland","Czesław Miłosz *, born in partitioned Poland ...",1980
106,Aaron Klug *,Lithuania,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
109,Wilhelm Ostwald *,Latvia,Chemistry,,1853-09-02,1932-04-04,male,http://en.wikipedia.org/wiki/Wilhelm_Ostwald,"Riga , Latvia","Leipzig , Germany","Wilhelm Ostwald *, born in then Russian Empir...",1909
115,Severo Ochoa *,Spain,Physiology or Medicine,,1905-09-24,1993-11-01,male,http://en.wikipedia.org/wiki/Severo_Ochoa,"Luarca , Asturias , Spain","Madrid , Spain","Severo Ochoa *, Physiology or Medicine, 1959",1959
120,Allan M. Cormack *,South Africa,Physiology or Medicine,,"February 23, 1924",1998-05-07,male,http://en.wikipedia.org/wiki/Allan_McLeod_Cormack,"Johannesburg, Gauteng",Massachusetts,"Allan M. Cormack *, Physiology or Medicine, 1979",1979
126,Sydney Brenner *,South Africa,Physiology or Medicine,,13 January 1927,,male,http://en.wikipedia.org/wiki/Sydney_Brenner,"Germiston, Gauteng , South Africa",,"Sydney Brenner *, Physiology or Medicine, 2002",2002
128,Michael Levitt *,South Africa,Chemistry,,9 May 1947,,male,http://en.wikipedia.org/wiki/Michael_Levitt,"Pretoria, South Africa",,"Michael Levitt *, Chemistry, 2013",2013
135,Niels Kaj Jerne *,United Kingdom,Physiology or Medicine,,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,,,"Niels Kaj Jerne *, Physiology or Medicine, 1984",1984
138,Michael Smith *,United Kingdom,Chemistry,,26 April 1932,4 October 2000,male,http://en.wikipedia.org/wiki/Michael_Smith_(ch...,"Blackpool , England","Vancouver , British Columbia , Canada","Michael Smith *, Chemistry, 1993",1993
268,T. S. Eliot *,United States,Literature,,26 September 1888,4 January 1965,male,http://en.wikipedia.org/wiki/T._S._Eliot,"St. Louis, Missouri , United States","London, UK, United Kingdom","T. S. Eliot *, Literature, 1948",1948
...,...,...,...,...,...,...,...,...,...,...,...,...
924,Alfred Werner *,France,Chemistry,,12 December 1866,15 November 1919,male,http://en.wikipedia.org/wiki/Alfred_Werner,"Mulhouse , Alsace","Zurich , Switzerland","Alfred Werner *, Chemistry, 1913",1913
935,Luis Federico Leloir *,France,Chemistry,,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir *, Chemistry, 1970",1970
937,Seán MacBride *,France,Peace,,26 January 1904,15 January 1988,male,http://en.wikipedia.org/wiki/Se%C3%A1n_MacBride,"Paris, France","Dublin , Republic of Ireland","Seán MacBride *, Peace, 1974",1974
938,Roger Guillemin *,France,Physiology or Medicine,,"January 11, 1924",,male,http://en.wikipedia.org/wiki/Roger_Guillemin,"Dijon , France",,"Roger Guillemin *, Physiology or Medicine, 1977",1977
962,Niels Ryberg Finsen *,Faroe Islands,Physiology or Medicine,,"December 15, 1860","September 24, 1904",male,http://en.wikipedia.org/wiki/Niels_Ryberg_Finsen,"Tórshavn , Faroe Islands","Copenhagen , Denmark","Niels Ryberg Finsen *, Physiology or Medicine,...",1903
972,Leopold Ružička *,Croatia,Chemistry,,1887-09-13,1976-9-26,male,http://en.wikipedia.org/wiki/Leopold_Ru%C5%BEi...,"Vukovar , Austria-Hungary","Mammern , Switzerland","Leopold Ružička *, born in Austro-Hungarian E...",1939
978,Daniel C. Tsui *,China,Physics,,"February 28, 1939",,male,http://en.wikipedia.org/wiki/Daniel_C._Tsui,"Henan , China",,"Daniel C. Tsui *, Physics, 1998",1998
979,Gao Xingjian *,China,Literature,,1940-01-04,,male,http://en.wikipedia.org/wiki/Gao_Xingjian,"Ganzhou , Jiangxi, China",,"Gao Xingjian *, Literature, 2000",2000
980,Charles K. Kao *,China,Physics,,1933-11-04,,male,http://en.wikipedia.org/wiki/Charles_K._Kao,"Shanghai, China",,"Charles K. Kao *, Physics, 2009",2009
987,William Giauque *,Canada,Chemistry,,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque *, Chemistry, 1949",1949
991,Saul Bellow *,Canada,Literature,,10 June 1915,5 April 2005,male,http://en.wikipedia.org/wiki/Saul_Bellow,"Lachine, Quebec , Canada","Brookline, Massachusetts , United States","Saul Bellow *, Literature, 1976",1976
992,David H. Hubel *,Canada,Physiology or Medicine,,1926-02-27,2013-09-22,male,http://en.wikipedia.org/wiki/David_H._Hubel,"Windsor, Ontario, Canada","Lincoln, Massachusetts, United States","David H. Hubel *, Physiology or Medicine, 1981",1981
993,Henry Taube *,Canada,Chemistry,,"November 30, 1915","November 16, 2005",male,http://en.wikipedia.org/wiki/Henry_Taube,"Neudorf , Saskatchewan , Canada","Palo Alto , California","Henry Taube *, Chemistry, 1983",1983
997,Rudolph A. Marcus *,Canada,Chemistry,,"July 21, 1923",,male,http://en.wikipedia.org/wiki/Rudolph_A._Marcus,"Montreal , Quebec",,"Rudolph A. Marcus *, Chemistry, 1992",1992
1001,William Vickrey *,Canada,Economics,,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey *, Economics, 1996",1996
1002,Myron Scholes *,Canada,Economics,,"July 1, 1941",,male,http://en.wikipedia.org/wiki/Myron_Scholes,"Timmins, Ontario , Canada",,"Myron Scholes *, Economics, 1997",1997
1005,Willard S. Boyle *,Canada,Physics,,"August 19, 1924","May 7, 2011",male,http://en.wikipedia.org/wiki/Willard_S._Boyle,"Amherst , Nova Scotia , Canada","Wallace , Nova Scotia , Canada","Willard S. Boyle *, Physics, 2009",2009
1008,Elias Canetti *,Bulgaria,Literature,,25 July 1905,14 August 1994,male,http://en.wikipedia.org/wiki/Elias_Canetti,"Rousse , Bulgaria","Zurich, Switzerland","Elias Canetti *, Literature, 1981",1981
1009,Peter Medawar *,Brazil,Physiology or Medicine,,28 February 1915,2 October 1987,male,http://en.wikipedia.org/wiki/Peter_Medawar,"Rio de Janeiro , Brazil","London, England","Peter Medawar *, Physiology or Medicine, 1960",1960
1010,Zhores Ivanovich Alferov *,Belarus,Physics,,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov *, born in then Sovi...",2000
1023,Otto Loewi *,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Richard Kuhn *,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1027,Karl von Frisch *,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1030,Walter Kohn *,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Eric R. Kandel *,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1034,Martin Karplus *,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,William Lawrence Bragg *,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1039,Aleksandr M. Prokhorov *,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1041,John Warcup Cornforth *,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1046,Elizabeth H. Blackburn *,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009

중복값 처리 - duplicated

In [149]:
df.duplicated('name')

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029     True
1030    False
1031    False
1032    False
1033    False
1034    False
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
1041    False
1042    False
1043    False
1044    False
1045    False
1046    False
1047     True
1048    False
1049    False
1050    False
1051    False
Length: 1052, dtype: bool

In [112]:
df.name.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029     True
1030    False
1031    False
1032    False
1033    False
1034    False
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
1041    False
1042    False
1043    False
1044    False
1045    False
1046    False
1047     True
1048    False
1049    False
1050    False
1051    False
Name: name, Length: 1052, dtype: bool

In [113]:
df.duplicated('name')

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1022    False
1023    False
1024    False
1025    False
1026    False
1027    False
1028    False
1029     True
1030    False
1031    False
1032    False
1033    False
1034    False
1035    False
1036    False
1037    False
1038    False
1039    False
1040    False
1041    False
1042    False
1043    False
1044    False
1045    False
1046    False
1047     True
1048    False
1049    False
1050    False
1051    False
Length: 1052, dtype: bool

In [150]:
all_dupes = df[df.duplicated('name') \
| df.duplicated('name', keep='last')]
all_dupes.count()

name              108
born_in            16
category          108
country           108
date_of_birth     106
date_of_death     106
gender            104
link              108
place_of_birth    106
place_of_death    106
text              108
year              108
dtype: int64

In [151]:
df.drop_duplicates()

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,NaN,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Vladimir Prelog *,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,Institut de Droit International,NaN,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,NaN,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,Maurice Maeterlinck,NaN,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,Henri La Fontaine,NaN,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
7,Jules Bordet,NaN,Physiology or Medicine,Belgium,13 June 1870,6 April 1961,male,http://en.wikipedia.org/wiki/Jules_Bordet,"Soignies, Belgium",,"Jules Bordet , Physiology or Medicine, 1919",1919
8,Corneille Heymans,NaN,Physiology or Medicine,Belgium,28 March 1892,18 July 1968,male,http://en.wikipedia.org/wiki/Corneille_Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
9,Georges Pire,NaN,Peace,Belgium,1910-02-10,1969-01-30,male,http://en.wikipedia.org/wiki/Georges_Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
10,Albert Claude,NaN,Physiology or Medicine,Belgium,24 August 1899,22 May 1983,male,http://en.wikipedia.org/wiki/Albert_Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
11,Christian de Duve,NaN,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,Ilya Prigogine,NaN,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
13,François Englert,NaN,Physics,Belgium,6 November 1932,,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,"Etterbeek , Brussels , Belgium",,"François Englert , Physics, 2013",2013
14,Simon Kuznets *,Belarus,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
15,Menachem Begin *,Belarus,Peace,,16 August 1913,9 March 1992,male,http://en.wikipedia.org/wiki/Menachem_Begin,"Brest , Russian Empire","Tel Aviv , Israel","Menachem Begin *, born in then Russian Empire...",1978
16,Shimon Peres *,Belarus,Peace,,2 August 1923,,male,http://en.wikipedia.org/wiki/Shimon_Peres,Poland,,"Shimon Peres *, born in then Poland, now Bela...",1994
17,Karl Adolph Gjellerup,NaN,Literature,Denmark,"June 2, 1857","October 13, 1919",male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
18,August Krogh,NaN,Physiology or Medicine,Denmark,"November 15, 1874","September 13, 1949",male,http://en.wikipedia.org/wiki/August_Krogh,,,"August Krogh , Physiology or Medicine, 1920",1920
19,Niels Bohr,NaN,Physics,Denmark,7 October 1885,18 November 1962,male,http://en.wikipedia.org/wiki/Niels_Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
20,Johannes Andreas Grib Fibiger,NaN,Physiology or Medicine,Denmark,23 April 1867,30 January 1928,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
21,Henrik Dam,NaN,Physiology or Medicine,Denmark,21 February 1895,17 April 1976,male,http://en.wikipedia.org/wiki/Henrik_Dam,,,"Henrik Dam , Physiology or Medicine, 1943",1943
22,Johannes Vilhelm Jensen,NaN,Literature,Denmark,1873-01-20,1950-11-25,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
23,Ben Roy Mottelson,NaN,Physics,Denmark,"July 9, 1926",,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,"Chicago, Illinois",,"Ben Roy Mottelson , Physics, 1975",1975
24,Aage Bohr,NaN,Physics,Denmark,19 June 1922,8 September 2009,male,http://en.wikipedia.org/wiki/Aage_Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
25,Niels Kaj Jerne,NaN,Physiology or Medicine,Denmark,"December 23, 1911","October 7, 1994",male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,,,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
26,Jens Christian Skou,NaN,Chemistry,Denmark,"October 8, 1918",,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,"Lemvig , Denmark",,"Jens Christian Skou , Chemistry, 1997",1997
27,Bertha von Suttner *,Czech Republic,Peace,,"June 9, 1843","June 21, 1914",female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner *, born in then Austrian-H...",1905
28,Gerty Cori *,Czech Republic,Physiology or Medicine,,15 August 1896,26 October 1957,female,http://en.wikipedia.org/wiki/Gerty_Cori,"Prague , Austrian Empire",,"Gerty Cori *, born in then Austria-Hungary , ...",1947
29,Carl Ferdinand Cori *,Czech Republic,Physiology or Medicine,,"December 5, 1896","October 20, 1984",male,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Prague,"Cambridge, Massachusetts","Carl Ferdinand Cori *, born in then Austria-H...",1947
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,Victor Francis Hess,NaN,Physics,Austria,24 June 1883,17 December 1964,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
1023,Otto Loewi *,Austria,Physiology or Medicine,,"June 3, 1873","December 25, 1961",male,http://en.wikipedia.org/wiki/Otto_Loewi,"Frankfurt , Germany","New York City , United States","Otto Loewi *, Physiology or Medicine, 1936",1936
1024,Richard Kuhn *,Austria,Chemistry,,"December 3, 1900","August 1, 1967",male,http://en.wikipedia.org/wiki/Richard_Kuhn,"Vienna , Austria","Heidelberg , Germany","Richard Kuhn *, Chemistry, 1938",1938
1025,Wolfgang Pauli,NaN,Physics,Austria,25 April 1900,15 December 1958,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
1026,Max F. Perutz,NaN,Chemistry,Austria,19 May 1914,6 February 2002,male,http://en.wikipedia.org/wiki/Max_F._Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
1027,Karl von Frisch *,Austria,Physiology or Medicine,,1886-11-20,1982-06-12,male,http://en.wikipedia.org/wiki/Karl_von_Frisch,"Vienna, Austria","Munich , Germany","Karl von Frisch *, Physiology or Medicine, 1973",1973
1028,Konrad Lorenz,NaN,Physiology or Medicine,Austria,"November 7, 1903","February 27, 1989",male,http://en.wikipedia.org/wiki/Konrad_Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
1029,Friedrich Hayek,NaN,Economics,Austria,8 May 1899,23 March 1992,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
1030,Walter Kohn *,Austria,Chemistry,,1923-03-09,,male,http://en.wikipedia.org/wiki/Walter_Kohn,Vienna,,"Walter Kohn *, Chemistry, 1998",1998
1031,Eric R. Kandel *,Austria,Physiology or Medicine,,7 November 1929,,male,http://en.wikipedia.org/wiki/Eric_R._Kandel,"Vienna , Austria",,"Eric R. Kandel *, Physiology or Medicine, 2000",2000
1032,Elfriede Jelinek,NaN,Literature,Austria,20 October 1946,,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,"Mürzzuschlag , Styria , Austria",,"Elfriede Jelinek , Literature, 2004",2004
1033,International Atomic Energy Agency,NaN,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,None,None,"International Atomic Energy Agency , Peace, 2005",2005
1034,Martin Karplus *,Austria,Chemistry,,"March 15, 1930",,male,http://en.wikipedia.org/wiki/Martin_Karplus,"Vienna , Austria",,"Martin Karplus *, Chemistry, 2013",2013
1035,William Lawrence Bragg *,Australia,Physics,,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg *, Physics, 1915",1915
1036,Sir Howard Florey,NaN,Physiology or Medicine,Australia,24 September 1898,21 February 1968,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
1037,Sir Frank Macfarlane Burnet,NaN,Physiology or Medicine,Australia,3 September 1899,31 August 1985,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
1038,John Carew Eccles,NaN,Physiology or Medicine,Australia,27 January 1903,2 May 1997,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
1039,Aleksandr M. Prokhorov *,Australia,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,Patrick White,NaN,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1041,John Warcup Cornforth *,Australia,Chemistry,,7 September 1917,8 December 2013,male,http://en.wikipedia.org/wiki/John_Warcup_Cornf...,"Sydney , Australia",England,"John Warcup Cornforth *, Chemistry, 1975",1975
1042,John Harsanyi,NaN,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1043,Peter C. Doherty & Professor Rolf Zinkernagel,NaN,Physiology or Medicine,Australia,15 October 1940,,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Brisbane,,Peter C. Doherty & Professor Rolf Zinkernage...,1996
1044,J. Robin Warren,NaN,Physiology or Medicine,Australia,11 June 1937,,male,http://en.wikipedia.org/wiki/Robin_Warren,"Adelaide , Australia",,"J. Robin Warren , Physiology or Medicine, 2005",2005
1045,Barry Marshall,NaN,Physiology or Medicine,Australia,30 September 1951,,male,http://en.wikipedia.org/wiki/Barry_Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005
1046,Elizabeth H. Blackburn *,Australia,Physiology or Medicine,,1948-11-26,,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009
1047,Brian P. Schmidt,NaN,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,Carlos Saavedra Lamas,NaN,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Bernardo Houssay,NaN,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Luis Federico Leloir,NaN,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Adolfo Pérez Esquivel,NaN,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [119]:
df[df.duplicated()]

Empty DataFrame
Columns: [born_in, category, country, date_of_birth, date_of_death, gender, link, name, place_of_birth, place_of_death, text, year]
Index: []

In [ ]:
dupes_by_name = df.duplicated('name')
all_dupes = df[df.name.isin(dupes_by_name)]

종교별 연간수입 데이터

In [186]:
data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [185]:
data = pd.read_csv('data1/data/pew.txt', sep='\t')

In [189]:
data[data.religion=='Buddhist'].mean(axis=1)

2    41.1
dtype: float64

tidy data로 변환해서 분석하기 좋은 형태로 만들어주는 것이 중요(reshape)
> wide format을 long format으로 변환한 후 groupby로 통계 파악

In [191]:
melt_data = data.melt('religion') #wide format 을 long format으로 변환 - column명에 변수적 개념이 있는 데이터가 있을 때 유용

In [193]:
melt_data[melt_data.religion=='Hindu']

    religion            variable  value
6      Hindu               <$10k      1
24     Hindu             $10-20k      9
42     Hindu             $20-30k      7
60     Hindu             $30-40k      9
78     Hindu             $40-50k     11
96     Hindu             $50-75k     34
114    Hindu            $75-100k     47
132    Hindu           $100-150k     48
150    Hindu               >150k     54
168    Hindu  Don't know/refused     37

In [199]:
melt_data.groupby('religion').mean()

                         value
religion
Agnostic                  82.6
Atheist                   51.5
Buddhist                  41.1
Catholic                 805.4
Don’t know/refused        27.2
Evangelical Prot         947.2
Hindu                     25.7
Historically Black Prot  199.5
Jehovah's Witness         21.5
Jewish                    68.2
Mainline Prot            747.0
Mormon                    58.1
Muslim                    11.6
Orthodox                  36.3
Other Christian           12.9
Other Faiths              44.9
Other World Religions      4.2
Unaffiliated             370.7

In [200]:
data = pd.read_csv('data1/data/tb.csv')

In [201]:
data

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AD,1994,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AD,1996,8.0,NaN,NaN,0.0,0.0,0.0,4.0,1.0,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
7,AD,1997,17.0,NaN,NaN,0.0,0.0,1.0,2.0,2.0,...,NaN,NaN,0.0,1.0,2.0,3.0,0.0,0.0,1.0,NaN
8,AD,1998,1.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AD,1999,4.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
10,AD,2000,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AD,2001,3.0,NaN,NaN,0.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AD,2002,2.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
13,AD,2003,7.0,NaN,NaN,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN
14,AD,2004,3.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
15,AD,2005,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
16,AD,2006,8.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
17,AD,2007,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
18,AD,2008,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,AE,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AE,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AE,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AE,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AE,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AE,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AE,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AE,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AE,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AE,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AE,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739,ZM,2008,13211.0,NaN,NaN,101.0,1120.0,3244.0,2094.0,737.0,...,NaN,NaN,165.0,1246.0,2062.0,1114.0,498.0,187.0,115.0,0.0
5740,ZW,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5741,ZW,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5742,ZW,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5743,ZW,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744,ZW,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5745,ZW,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5746,ZW,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5747,ZW,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5748,ZW,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5749,ZW,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5750,ZW,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5751,ZW,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,ZW,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5753,ZW,1993,5331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5754,ZW,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5755,ZW,1995,8965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5756,ZW,1996,11965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5757,ZW,1997,14512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5758,ZW,1998,14492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5759,ZW,1999,14414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5760,ZW,2000,14392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,ZW,2001,15370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5762,ZW,2002,15941.0,NaN,NaN,191.0,600.0,2548.0,1662.0,744.0,...,NaN,NaN,222.0,914.0,2185.0,1095.0,421.0,140.0,65.0,NaN
5763,ZW,2003,14488.0,NaN,NaN,133.0,874.0,3048.0,2228.0,981.0,...,NaN,NaN,180.0,1232.0,2856.0,1480.0,565.0,225.0,114.0,NaN
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [205]:
data = data.melt(['iso2','year'], value_name='y', var_name='x')

In [206]:
data.dropna(inplace=True)

In [207]:
data

       iso2  year          x       y
4        AD  1993     new_sp    15.0
5        AD  1994     new_sp    24.0
6        AD  1996     new_sp     8.0
7        AD  1997     new_sp    17.0
8        AD  1998     new_sp     1.0
9        AD  1999     new_sp     4.0
10       AD  2000     new_sp     1.0
11       AD  2001     new_sp     3.0
12       AD  2002     new_sp     2.0
13       AD  2003     new_sp     7.0
14       AD  2004     new_sp     3.0
15       AD  2005     new_sp     5.0
16       AD  2006     new_sp     8.0
17       AD  2007     new_sp     2.0
18       AD  2008     new_sp     3.0
35       AE  1999     new_sp    31.0
36       AE  2000     new_sp    73.0
37       AE  2001     new_sp    69.0
38       AE  2002     new_sp    57.0
39       AE  2003     new_sp    77.0
40       AE  2004     new_sp    57.0
41       AE  2005     new_sp    62.0
42       AE  2006     new_sp    52.0
43       AE  2007     new_sp    56.0
44       AE  2008     new_sp    50.0
57       AF  1997     new_sp   618.0
58       AF  1998     new_sp  1833.0
59       AF  1999     new_sp  1669.0
60       AF  2000     new_sp  2892.0
61       AF  2001     new_sp  4639.0
...     ...   ...        ...     ...
120309   SZ  2008  new_sp_fu     0.0
120387   TG  2008  new_sp_fu     0.0
120442   TJ  2005  new_sp_fu     0.0
120444   TJ  2007  new_sp_fu     0.0
120445   TJ  2008  new_sp_fu     0.0
120471   TK  2008  new_sp_fu     0.0
120479   TL  2008  new_sp_fu     0.0
120504   TM  2005  new_sp_fu     0.0
120505   TM  2006  new_sp_fu     0.0
120506   TM  2007  new_sp_fu     0.0
120565   TO  2008  new_sp_fu     0.0
120589   TR  2005  new_sp_fu     0.0
120590   TR  2006  new_sp_fu     0.0
120591   TR  2007  new_sp_fu     0.0
120592   TR  2008  new_sp_fu     0.0
120621   TT  2008  new_sp_fu     0.0
120649   TV  2008  new_sp_fu     0.0
120705   UA  2006  new_sp_fu     0.0
120706   UA  2007  new_sp_fu     0.0
120734   UG  2008  new_sp_fu     0.0
120763   US  2008  new_sp_fu     0.0
120792   UY  2008  new_sp_fu     0.0
120819   UZ  2007  new_sp_fu     0.0
120878   VE  2008  new_sp_fu     0.0
120935   VN  2008  new_sp_fu     0.0
120964   VU  2008  new_sp_fu     0.0
121038   YE  2008  new_sp_fu     0.0
121092   ZA  2008  new_sp_fu     0.0
121119   ZM  2008  new_sp_fu     0.0
121148   ZW  2008  new_sp_fu     0.0

[38619 rows x 4 columns]

In [209]:
data.groupby(['iso2', 'year']).sum()    #multi-index

                  y
iso2 year
AD   1993      15.0
     1994      24.0
     1996      16.0
     1997      36.0
     1998       2.0
     1999       7.0
     2000       2.0
     2001       6.0
     2002       4.0
     2003      13.0
     2004       6.0
     2005      10.0
     2006      16.0
     2007       4.0
     2008       6.0
AE   1999      97.0
     2000     143.0
     2001      69.0
     2002     114.0
     2003     154.0
     2004     114.0
     2005      62.0
     2006     106.0
     2007     112.0
     2008     100.0
AF   1997     746.0
     1998    3611.0
     1999    2414.0
     2000    5558.0
     2001    9278.0
...             ...
ZA   2007  273329.0
     2008  281829.0
ZM   1994    9620.0
     1995   18615.0
     1996   12072.0
     1999   11645.0
     2000   25854.0
     2001   13024.0
     2002   32702.0
     2003   37868.0
     2004   34494.0
     2005   29714.0
     2006   28050.0
     2007   26756.0
     2008   26422.0
ZW   1993    5331.0
     1995    8965.0
     1996   11965.0
     1997   14512.0
     1998   14492.0
     1999   14414.0
     2000   14392.0
     2001   15370.0
     2002   27202.0
     2003   28976.0
     2004   29162.0
     2005   26310.0
     2006   25436.0
     2007   21489.0
     2008   19660.0

[3071 rows x 1 columns]

In [238]:
data_w = pd.read_csv('data1/data/weather.txt', sep='\t')

In [211]:
data_w

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
data_w = data_w.melt(['id','year','month','element'])

In [216]:
data_w.id.unique()

array(['MX000017004'], dtype=object)

In [217]:
del data_w['id']

In [219]:
data_w

     year  month element variable  value
0    2010      1    TMAX       d1    NaN
1    2010      1    TMIN       d1    NaN
2    2010      2    TMAX       d1    NaN
3    2010      2    TMIN       d1    NaN
4    2010      3    TMAX       d1    NaN
5    2010      3    TMIN       d1    NaN
6    2010      4    TMAX       d1    NaN
7    2010      4    TMIN       d1    NaN
8    2010      5    TMAX       d1    NaN
9    2010      5    TMIN       d1    NaN
10   2010      6    TMAX       d1    NaN
11   2010      6    TMIN       d1    NaN
12   2010      7    TMAX       d1    NaN
13   2010      7    TMIN       d1    NaN
14   2010      8    TMAX       d1    NaN
15   2010      8    TMIN       d1    NaN
16   2010     10    TMAX       d1    NaN
17   2010     10    TMIN       d1    NaN
18   2010     11    TMAX       d1    NaN
19   2010     11    TMIN       d1    NaN
20   2010     12    TMAX       d1  299.0
21   2010     12    TMIN       d1  138.0
22   2010      1    TMAX       d2    NaN
23   2010      1    TMIN       d2    NaN
24   2010      2    TMAX       d2  273.0
25   2010      2    TMIN       d2  144.0
26   2010      3    TMAX       d2    NaN
27   2010      3    TMIN       d2    NaN
28   2010      4    TMAX       d2    NaN
29   2010      4    TMIN       d2    NaN
..    ...    ...     ...      ...    ...
652  2010      8    TMAX      d30    NaN
653  2010      8    TMIN      d30    NaN
654  2010     10    TMAX      d30    NaN
655  2010     10    TMIN      d30    NaN
656  2010     11    TMAX      d30    NaN
657  2010     11    TMIN      d30    NaN
658  2010     12    TMAX      d30    NaN
659  2010     12    TMIN      d30    NaN
660  2010      1    TMAX      d31    NaN
661  2010      1    TMIN      d31    NaN
662  2010      2    TMAX      d31    NaN
663  2010      2    TMIN      d31    NaN
664  2010      3    TMAX      d31    NaN
665  2010      3    TMIN      d31    NaN
666  2010      4    TMAX      d31    NaN
667  2010      4    TMIN      d31    NaN
668  2010      5    TMAX      d31    NaN
669  2010      5    TMIN      d31    NaN
670  2010      6    TMAX      d31    NaN
671  2010      6    TMIN      d31    NaN
672  2010      7    TMAX      d31    NaN
673  2010      7    TMIN      d31    NaN
674  2010      8    TMAX      d31  254.0
675  2010      8    TMIN      d31  154.0
676  2010     10    TMAX      d31    NaN
677  2010     10    TMIN      d31    NaN
678  2010     11    TMAX      d31    NaN
679  2010     11    TMIN      d31    NaN
680  2010     12    TMAX      d31    NaN
681  2010     12    TMIN      d31    NaN

[682 rows x 5 columns]

In [221]:
data_w.dropna()

     year  month element variable  value
20   2010     12    TMAX       d1  299.0
21   2010     12    TMIN       d1  138.0
24   2010      2    TMAX       d2  273.0
25   2010      2    TMIN       d2  144.0
40   2010     11    TMAX       d2  313.0
41   2010     11    TMIN       d2  163.0
46   2010      2    TMAX       d3  241.0
47   2010      2    TMIN       d3  144.0
56   2010      7    TMAX       d3  286.0
57   2010      7    TMIN       d3  175.0
84   2010     11    TMAX       d4  272.0
85   2010     11    TMIN       d4  120.0
92   2010      3    TMAX       d5  321.0
93   2010      3    TMIN       d5  142.0
102  2010      8    TMAX       d5  296.0
103  2010      8    TMIN       d5  158.0
104  2010     10    TMAX       d5  270.0
105  2010     10    TMIN       d5  140.0
106  2010     11    TMAX       d5  263.0
107  2010     11    TMIN       d5   79.0
130  2010     12    TMAX       d6  278.0
131  2010     12    TMIN       d6  105.0
148  2010     10    TMAX       d7  281.0
149  2010     10    TMIN       d7  129.0
168  2010      8    TMAX       d8  290.0
169  2010      8    TMIN       d8  173.0
202  2010      3    TMAX      d10  345.0
203  2010      3    TMIN      d10  168.0
222  2010      2    TMAX      d11  297.0
223  2010      2    TMIN      d11  134.0
..    ...    ...     ...      ...    ...
324  2010     10    TMAX      d15  287.0
325  2010     10    TMIN      d15  105.0
334  2010      3    TMAX      d16  311.0
335  2010      3    TMIN      d16  176.0
362  2010      6    TMAX      d17  280.0
363  2010      6    TMIN      d17  175.0
486  2010      2    TMAX      d23  299.0
487  2010      2    TMIN      d23  107.0
498  2010      8    TMAX      d23  264.0
499  2010      8    TMIN      d23  150.0
542  2010      8    TMAX      d25  297.0
543  2010      8    TMIN      d25  156.0
568  2010     11    TMAX      d26  281.0
569  2010     11    TMIN      d26  121.0
578  2010      4    TMAX      d27  363.0
579  2010      4    TMIN      d27  167.0
580  2010      5    TMAX      d27  332.0
581  2010      5    TMIN      d27  182.0
590  2010     11    TMAX      d27  277.0
591  2010     11    TMIN      d27  142.0
610  2010     10    TMAX      d28  312.0
611  2010     10    TMIN      d28  150.0
626  2010      6    TMAX      d29  301.0
627  2010      6    TMIN      d29  180.0
630  2010      8    TMAX      d29  280.0
631  2010      8    TMIN      d29  153.0
638  2010      1    TMAX      d30  278.0
639  2010      1    TMIN      d30  145.0
674  2010      8    TMAX      d31  254.0
675  2010      8    TMIN      d31  154.0

[66 rows x 5 columns]

In [223]:
data_w.reset_index(drop=True)

     year  month element variable  value
0    2010      1    TMAX       d1    NaN
1    2010      1    TMIN       d1    NaN
2    2010      2    TMAX       d1    NaN
3    2010      2    TMIN       d1    NaN
4    2010      3    TMAX       d1    NaN
5    2010      3    TMIN       d1    NaN
6    2010      4    TMAX       d1    NaN
7    2010      4    TMIN       d1    NaN
8    2010      5    TMAX       d1    NaN
9    2010      5    TMIN       d1    NaN
10   2010      6    TMAX       d1    NaN
11   2010      6    TMIN       d1    NaN
12   2010      7    TMAX       d1    NaN
13   2010      7    TMIN       d1    NaN
14   2010      8    TMAX       d1    NaN
15   2010      8    TMIN       d1    NaN
16   2010     10    TMAX       d1    NaN
17   2010     10    TMIN       d1    NaN
18   2010     11    TMAX       d1    NaN
19   2010     11    TMIN       d1    NaN
20   2010     12    TMAX       d1  299.0
21   2010     12    TMIN       d1  138.0
22   2010      1    TMAX       d2    NaN
23   2010      1    TMIN       d2    NaN
24   2010      2    TMAX       d2  273.0
25   2010      2    TMIN       d2  144.0
26   2010      3    TMAX       d2    NaN
27   2010      3    TMIN       d2    NaN
28   2010      4    TMAX       d2    NaN
29   2010      4    TMIN       d2    NaN
..    ...    ...     ...      ...    ...
652  2010      8    TMAX      d30    NaN
653  2010      8    TMIN      d30    NaN
654  2010     10    TMAX      d30    NaN
655  2010     10    TMIN      d30    NaN
656  2010     11    TMAX      d30    NaN
657  2010     11    TMIN      d30    NaN
658  2010     12    TMAX      d30    NaN
659  2010     12    TMIN      d30    NaN
660  2010      1    TMAX      d31    NaN
661  2010      1    TMIN      d31    NaN
662  2010      2    TMAX      d31    NaN
663  2010      2    TMIN      d31    NaN
664  2010      3    TMAX      d31    NaN
665  2010      3    TMIN      d31    NaN
666  2010      4    TMAX      d31    NaN
667  2010      4    TMIN      d31    NaN
668  2010      5    TMAX      d31    NaN
669  2010      5    TMIN      d31    NaN
670  2010      6    TMAX      d31    NaN
671  2010      6    TMIN      d31    NaN
672  2010      7    TMAX      d31    NaN
673  2010      7    TMIN      d31    NaN
674  2010      8    TMAX      d31  254.0
675  2010      8    TMIN      d31  154.0
676  2010     10    TMAX      d31    NaN
677  2010     10    TMIN      d31    NaN
678  2010     11    TMAX      d31    NaN
679  2010     11    TMIN      d31    NaN
680  2010     12    TMAX      d31    NaN
681  2010     12    TMIN      d31    NaN

[682 rows x 5 columns]

In [224]:
data_w = data_w[['year','month','element','variable','value']]  #sorting

In [225]:
data_w

     year  month element variable  value
0    2010      1    TMAX       d1    NaN
1    2010      1    TMIN       d1    NaN
2    2010      2    TMAX       d1    NaN
3    2010      2    TMIN       d1    NaN
4    2010      3    TMAX       d1    NaN
5    2010      3    TMIN       d1    NaN
6    2010      4    TMAX       d1    NaN
7    2010      4    TMIN       d1    NaN
8    2010      5    TMAX       d1    NaN
9    2010      5    TMIN       d1    NaN
10   2010      6    TMAX       d1    NaN
11   2010      6    TMIN       d1    NaN
12   2010      7    TMAX       d1    NaN
13   2010      7    TMIN       d1    NaN
14   2010      8    TMAX       d1    NaN
15   2010      8    TMIN       d1    NaN
16   2010     10    TMAX       d1    NaN
17   2010     10    TMIN       d1    NaN
18   2010     11    TMAX       d1    NaN
19   2010     11    TMIN       d1    NaN
20   2010     12    TMAX       d1  299.0
21   2010     12    TMIN       d1  138.0
22   2010      1    TMAX       d2    NaN
23   2010      1    TMIN       d2    NaN
24   2010      2    TMAX       d2  273.0
25   2010      2    TMIN       d2  144.0
26   2010      3    TMAX       d2    NaN
27   2010      3    TMIN       d2    NaN
28   2010      4    TMAX       d2    NaN
29   2010      4    TMIN       d2    NaN
..    ...    ...     ...      ...    ...
652  2010      8    TMAX      d30    NaN
653  2010      8    TMIN      d30    NaN
654  2010     10    TMAX      d30    NaN
655  2010     10    TMIN      d30    NaN
656  2010     11    TMAX      d30    NaN
657  2010     11    TMIN      d30    NaN
658  2010     12    TMAX      d30    NaN
659  2010     12    TMIN      d30    NaN
660  2010      1    TMAX      d31    NaN
661  2010      1    TMIN      d31    NaN
662  2010      2    TMAX      d31    NaN
663  2010      2    TMIN      d31    NaN
664  2010      3    TMAX      d31    NaN
665  2010      3    TMIN      d31    NaN
666  2010      4    TMAX      d31    NaN
667  2010      4    TMIN      d31    NaN
668  2010      5    TMAX      d31    NaN
669  2010      5    TMIN      d31    NaN
670  2010      6    TMAX      d31    NaN
671  2010      6    TMIN      d31    NaN
672  2010      7    TMAX      d31    NaN
673  2010      7    TMIN      d31    NaN
674  2010      8    TMAX      d31  254.0
675  2010      8    TMIN      d31  154.0
676  2010     10    TMAX      d31    NaN
677  2010     10    TMIN      d31    NaN
678  2010     11    TMAX      d31    NaN
679  2010     11    TMIN      d31    NaN
680  2010     12    TMAX      d31    NaN
681  2010     12    TMIN      d31    NaN

[682 rows x 5 columns]

In [228]:
data_w = data_w.sort_values('month').reset_index(drop=True)

In [232]:
data_w[data_w['element']=='TMIN'].groupby('month').mean()

       year       value
month
1      2010  145.000000
2      2010  132.250000
3      2010  162.000000
4      2010  167.000000
5      2010  182.000000
6      2010  177.500000
7      2010  170.000000
8      2010  158.428571
10     2010  130.800000
11     2010  125.000000
12     2010  121.500000

In [235]:
data_w.pivot_table(index='month', values='value')

            value
month
1      211.500000
2      204.875000
3      243.833333
4      265.000000
5      257.000000
6      234.000000
7      231.250000
8      220.571429
10     209.900000
11     203.100000
12     205.000000

In [236]:
pd.pivot_table(data_w, index='month', values='value')

            value
month
1      211.500000
2      204.875000
3      243.833333
4      265.000000
5      257.000000
6      234.000000
7      231.250000
8      220.571429
10     209.900000
11     203.100000
12     205.000000

In [237]:
data_w.groupby('month').mean()

       year       value
month
1      2010  211.500000
2      2010  204.875000
3      2010  243.833333
4      2010  265.000000
5      2010  257.000000
6      2010  234.000000
7      2010  231.250000
8      2010  220.571429
10     2010  209.900000
11     2010  203.100000
12     2010  205.000000

In [239]:
data_w.groupby('month').mean()

,year,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
month,,,,,,,,,,,,,,,,,,,,,
1,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211.5,NaN
2,2010,NaN,208.5,192.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,NaN,NaN,NaN,NaN,231.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,265.0,NaN,NaN,NaN,NaN
5,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,257.0,NaN,NaN,NaN,NaN
6,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.5,NaN,NaN
7,2010,NaN,NaN,230.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2010,NaN,NaN,NaN,NaN,227.0,NaN,NaN,231.5,NaN,...,NaN,207.0,NaN,226.5,NaN,NaN,NaN,216.5,NaN,204.0
10,2010,NaN,NaN,NaN,NaN,205.0,NaN,205.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,NaN,NaN,NaN
11,2010,NaN,238.0,NaN,196.0,171.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,201.0,209.5,NaN,NaN,NaN,NaN
12,2010,218.5,NaN,NaN,NaN,NaN,191.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN