In [1]:
import pandas as pd

In [119]:
bb = pd.read_csv('data1/data/billboard.csv', encoding='ISO-8859-1')

In [120]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
year               317 non-null int64
artist.inverted    317 non-null object
track              317 non-null object
time               317 non-null object
genre              317 non-null object
date.entered       317 non-null object
date.peaked        317 non-null object
x1st.week          317 non-null int64
x2nd.week          312 non-null float64
x3rd.week          307 non-null float64
x4th.week          300 non-null float64
x5th.week          292 non-null float64
x6th.week          280 non-null float64
x7th.week          269 non-null float64
x8th.week          260 non-null float64
x9th.week          253 non-null float64
x10th.week         244 non-null float64
x11th.week         236 non-null float64
x12th.week         222 non-null float64
x13th.week         210 non-null float64
x14th.week         204 non-null float64
x15th.week         197 non-null float64
x16th.week         182 non-null float64
x17th.week         177 non-null float64
x18th.week         166 non-null float64
x19th.week         156 non-null float64
x20th.week         146 non-null float64
x21st.week         65 non-null float64
x22nd.week         55 non-null float64
x23rd.week         48 non-null float64
x24th.week         46 non-null float64
x25th.week         38 non-null float64
x26th.week         36 non-null float64
x27th.week         29 non-null float64
x28th.week         24 non-null float64
x29th.week         20 non-null float64
x30th.week         20 non-null float64
x31st.week         19 non-null float64
x32nd.week         18 non-null float64
x33rd.week         12 non-null float64
x34th.week         10 non-null float64
x35th.week         9 non-null float64
x36th.week         9 non-null float64
x37th.week         9 non-null float64
x38th.week         8 non-null float64
x39th.week         8 non-null float64
x40th.week         7 non-null float64
x41st.week         7 non-null float64
x42nd.week         6 non-null float64
x43rd.week         6 non-null float64
x44th.week         6 non-null float64
x45th.week         5 non-null float64
x46th.week         5 non-null float64
x47th.week         5 non-null float64
x48th.week         4 non-null float64
x49th.week         4 non-null float64
x50th.week         4 non-null float64
x51st.week         4 non-null float64
x52nd.week         4 non-null float64
x53rd.week         4 non-null float64
x54th.week         2 non-null float64
x55th.week         2 non-null float64
x56th.week         2 non-null float64
x57th.week         2 non-null float64
x58th.week         2 non-null float64
x59th.week         2 non-null float64
x60th.week         2 non-null float64
x61st.week         2 non-null float64
x62nd.week         2 non-null float64
x63rd.week         2 non-null float64
x64th.week         2 non-null float64
x65th.week         1 non-null float64
x66th.week         0 non-null float64
x67th.week         0 non-null float64
x68th.week         0 non-null float64
x69th.week         0 non-null float64
x70th.week         0 non-null float64
x71st.week         0 non-null float64
x72nd.week         0 non-null float64
x73rd.week         0 non-null float64
x74th.week         0 non-null float64
x75th.week         0 non-null float64
x76th.week         0 non-null float64
dtypes: float64(75), int64(2), object(6)
memory usage: 205.6+ KB

In [121]:
bb

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,82,70.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,71,51.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,70,61.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,84,78.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,59,53.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,60,37.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,82,68.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,81,68.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,72,57.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,99,92.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,63,55.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,77,54.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,98¡,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,51,39.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,74,71.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,81,70.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,74,63.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,50,39.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,81,68.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,94,86.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,92,80.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,91,87.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,98,96.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,89,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,91,91.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,95,88.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,97,97.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,98,98.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,96,89.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,99,100.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,98,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,92,92.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,92,91.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,92,92.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,100,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,97,93.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,100,99.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,97,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,96,95.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,96,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,100,97.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,98,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,98,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,99,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
bb = bb.melt(id_vars = ['year', 'artist.inverted','track','time','genre','date.entered','date.peaked' ], var_name='week', value_name='rating')

In [123]:
bb

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x1st.week,81.0
10,2000,N'Sync,It's Gonna Be Me,3:10,Rock,2000-05-06,2000-07-29,x1st.week,82.0
11,2000,"Aguilera, Christina",What A Girl Wants,3:18,Rock,1999-11-27,2000-01-15,x1st.week,71.0
12,2000,Vertical Horizon,Everything You Want,4:01,Rock,2000-01-22,2000-07-15,x1st.week,70.0
13,2000,Creed,With Arms Wide Open,3:52,Rock,2000-05-13,2000-11-11,x1st.week,84.0
14,2000,Aaliyah,Try Again,4:03,Rock,2000-03-18,2000-06-17,x1st.week,59.0
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,x1st.week,60.0
16,2000,"Carey, Mariah",Thank God I Found You,4:14,Rock,1999-12-11,2000-02-19,x1st.week,82.0
17,2000,"Hill, Faith",Breathe,4:04,Rap,1999-11-06,2000-04-22,x1st.week,81.0
18,2000,Mya,Case Of The Ex (Whatcha Gonna Do),3:50,Rock,2000-08-19,2000-12-02,x1st.week,72.0
19,2000,Dream,He Loves U Not,3:43,Rock,2000-09-30,2000-12-30,x1st.week,99.0
20,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,Rock,2000-03-18,2000-05-06,x1st.week,63.0
21,2000,"Anthony, Marc",You Sang To Me,3:50,Latin,2000-02-26,2000-06-03,x1st.week,77.0
22,2000,98¡,Give Me Just One Night (Una Noche),3:24,Rock,2000-08-19,2000-09-30,x1st.week,51.0
23,2000,Destiny's Child,Jumpin' Jumpin',3:48,Rock,2000-05-13,2000-08-19,x1st.week,74.0
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,x1st.week,81.0
25,2000,Sisqo,Thong Song,4:05,Rock,2000-01-29,2000-05-20,x1st.week,74.0
26,2000,"Aguilera, Christina",I Turn To You,4:00,Rock,2000-04-15,2000-07-01,x1st.week,50.0
27,2000,"Houston, Whitney",My Love Is Your Love,4:16,Rock,1999-09-04,2000-01-08,x1st.week,81.0
28,2000,Joe,I Wanna Know,4:57,Rock,2000-01-01,2000-07-01,x1st.week,94.0
29,2000,"Jordan, Montell",Get It On.. Tonite,4:34,Rap,1999-10-23,2000-02-12,x1st.week,92.0
...,...,...,...,...,...,...,...,...,...
24062,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,x76th.week,NaN
24063,2000,Madison Avenue,Don't Call Me Baby,3:44,Electronica,2000-07-08,2000-09-16,x76th.week,NaN
24064,2000,Eve,Got It All,3:48,Rap,2000-07-15,2000-07-22,x76th.week,NaN
24065,2000,Limp Bizkit,Re-Arranged,4:08,Rock,1999-12-04,2000-02-05,x76th.week,NaN
24066,2000,"Spencer, Tracie",Still In My Heart,4:11,Rock,2000-03-04,2000-03-11,x76th.week,NaN
24067,2000,Nu Flavor,3 Little Words,3:54,R&B,2000-06-03,2000-06-17,x76th.week,NaN
24068,2000,Tamar,If You Don't Wanna Love Me,4:02,Rock,2000-03-25,2000-04-15,x76th.week,NaN
24069,2000,"Levert, Gerald",Baby U Are,4:10,R&B,2000-08-19,2000-08-26,x76th.week,NaN
24070,2000,"Hart, Beth",L.A. Song,3:47,Country,1999-11-27,2000-01-15,x76th.week,NaN
24071,2000,"Diffie, Joe",The Quittin' Kind,3:23,Country,2000-01-01,2000-01-22,x76th.week,NaN
24072,2000,Funkmaster Flex,Do You,4:14,Rap,2000-11-11,2000-12-02,x76th.week,NaN
24073,2000,"Price, Kelly",Love Sets You Free,3:46,Rock,2000-05-13,2000-05-20,x76th.week,NaN
24074,2000,En Vogue,Riddle,5:10,Rock,2000-06-17,2000-06-17,x76th.week,NaN
24075,2000,"Herndon, Ty",No Mercy,4:43,Country,2000-03-18,2000-05-06,x76th.week,NaN
24076,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,x76th.week,NaN
24077,2000,Trina,Pull Over,2:58,Rap,2000-09-09,2000-09-16,x76th.week,NaN
24078,2000,Lil' Mo,Ta Da,4:17,Rap,2000-08-12,2000-09-16,x76th.week,NaN
24079,2000,A*Teens,Dancing Queen,3:44,Pop,2000-07-08,2000-07-29,x76th.week,NaN
24080,2000,"Sheist, Shade",Where I Wanna Be,4:16,Rap,2000-11-11,2000-11-18,x76th.week,NaN
24081,2000,De La Soul,All Good?,5:02,Rap,2000-12-23,2000-12-23,x76th.week,NaN
24082,2000,"Larrieux, Amel",Get Up,4:02,R&B,2000-03-04,2000-03-11,x76th.week,NaN
24083,2000,"Braxton, Toni",Spanish Guitar,4:24,Rock,2000-12-02,2000-12-02,x76th.week,NaN
24084,2000,Tuesday,I Know,4:06,Rock,2000-12-30,2000-12-30,x76th.week,NaN
24085,2000,LL Cool J,Imagine That,4:00,Rap,2000-08-12,2000-08-19,x76th.week,NaN
24086,2000,Master P,Souljas,3:33,Rap,2000-11-18,2000-11-18,x76th.week,NaN
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [124]:
bb.dropna(inplace=True)

In [125]:
bb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5307 entries, 0 to 20334
Data columns (total 9 columns):
year               5307 non-null int64
artist.inverted    5307 non-null object
track              5307 non-null object
time               5307 non-null object
genre              5307 non-null object
date.entered       5307 non-null object
date.peaked        5307 non-null object
week               5307 non-null object
rating             5307 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 414.6+ KB

In [126]:
bb.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [127]:
# bb.week = bb.week.str.replace('wk','').astype('int')
bb.week = bb.week.str.extract(r'(\d)').astype('int')

In [128]:
bb.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0

In [129]:
bb.shape

(5307, 9)

In [130]:
bb.nsmallest(5,'year')

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0

In [131]:
bb.nlargest(10,'week')

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rating
2536,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,9,1.0
2537,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,9,1.0
2538,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,9,4.0
2539,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,9,1.0
2540,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,9,9.0
2541,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,9,10.0
2542,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,9,16.0
2543,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,9,8.0
2544,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,9,1.0
2545,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,9,32.0

In [132]:
temp_date = pd.to_datetime(bb['date.entered'])

In [133]:
bb['date.entered']

0        2000-09-23
1        2000-02-12
2        1999-10-23
3        2000-08-12
4        2000-08-05
5        2000-06-17
6        1999-12-25
7        2000-04-01
8        2000-06-24
9        1999-06-05
10       2000-05-06
11       1999-11-27
12       2000-01-22
13       2000-05-13
14       2000-03-18
15       2000-04-29
16       1999-12-11
17       1999-11-06
18       2000-08-19
19       2000-09-30
20       2000-03-18
21       2000-02-26
22       2000-08-19
23       2000-05-13
24       2000-04-08
25       2000-01-29
26       2000-04-15
27       1999-09-04
28       2000-01-01
29       1999-10-23
            ...
16184    1999-11-06
16191    2000-04-08
16213    1999-09-11
16493    1999-06-05
16501    1999-11-06
16508    2000-04-08
16530    1999-09-11
16810    1999-06-05
16847    1999-09-11
17127    1999-06-05
17164    1999-09-11
17444    1999-06-05
17481    1999-09-11
17761    1999-06-05
17798    1999-09-11
18078    1999-06-05
18115    1999-09-11
18395    1999-06-05
18432    1999-09-11
18712    1999-06-05
18749    1999-09-11
19029    1999-06-05
19066    1999-09-11
19346    1999-06-05
19383    1999-09-11
19663    1999-06-05
19700    1999-09-11
19980    1999-06-05
20017    1999-09-11
20334    1999-09-11
Name: date.entered, Length: 5307, dtype: object

In [6]:
ebola = pd.read_csv('data/country_timeseries.csv')

In [7]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [10]:
ebola = ebola.melt(id_vars=['Date','Day'])

In [11]:
ebola.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [9]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [12]:
split_var = ebola.variable.str.split('_')

In [13]:
type(split_var)

pandas.core.series.Series

In [15]:
split_var.head()

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [17]:
status_values = split_var.str.get(0)
status_values.head()

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [20]:
country_values = split_var.str[1]
country_values.head()

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [21]:
ebola['status'] = status_values
ebola['country'] = country_values

In [26]:
ebola.head()
ebola.tail()

           Date  Day     variable  value  status country
1947  3/27/2014    5  Deaths_Mali    NaN  Deaths    Mali
1948  3/26/2014    4  Deaths_Mali    NaN  Deaths    Mali
1949  3/25/2014    3  Deaths_Mali    NaN  Deaths    Mali
1950  3/24/2014    2  Deaths_Mali    NaN  Deaths    Mali
1951  3/22/2014    0  Deaths_Mali    NaN  Deaths    Mali

In [34]:
ebola[ebola.status=='Deaths'].groupby('country').mean().value

country
Guinea           563.239130
Liberia         1101.209877
Mali               3.166667
Nigeria            6.131579
Senegal            0.000000
SierraLeone      693.701149
Spain              0.187500
UnitedStates       0.833333
Name: value, dtype: float64

In [35]:
ebola[ebola.status=='Cases'].groupby('country').mean().value

country
Guinea           911.064516
Liberia         2335.337349
Mali               3.500000
Nigeria           16.736842
Senegal            1.080000
SierraLeone     2427.367816
Spain              1.000000
UnitedStates       3.277778
Name: value, dtype: float64

In [63]:
wt = pd.read_csv('data1/data/weather.txt', sep='\t')

In [64]:
wt.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
wt = wt.melt(id_vars=['id','year','month','element'], var_name='day', value_name='temp')

In [66]:
wt.head()

            id  year  month element day  temp
0  MX000017004  2010      1    TMAX  d1   NaN
1  MX000017004  2010      1    TMIN  d1   NaN
2  MX000017004  2010      2    TMAX  d1   NaN
3  MX000017004  2010      2    TMIN  d1   NaN
4  MX000017004  2010      3    TMAX  d1   NaN

In [67]:
wt.dropna(inplace=True)
wt.head()

             id  year  month element day   temp
20  MX000017004  2010     12    TMAX  d1  299.0
21  MX000017004  2010     12    TMIN  d1  138.0
24  MX000017004  2010      2    TMAX  d2  273.0
25  MX000017004  2010      2    TMIN  d2  144.0
40  MX000017004  2010     11    TMAX  d2  313.0

In [68]:
wt_tidy = pd.pivot_table(wt, 
index = ['id','year','month','day'],
columns = 'element',
values = 'temp').reset_index()

In [69]:
wt_tidy

element           id  year  month  day   TMAX   TMIN
0        MX000017004  2010      1  d30  278.0  145.0
1        MX000017004  2010      2  d11  297.0  134.0
2        MX000017004  2010      2   d2  273.0  144.0
3        MX000017004  2010      2  d23  299.0  107.0
4        MX000017004  2010      2   d3  241.0  144.0
5        MX000017004  2010      3  d10  345.0  168.0
6        MX000017004  2010      3  d16  311.0  176.0
7        MX000017004  2010      3   d5  321.0  142.0
8        MX000017004  2010      4  d27  363.0  167.0
9        MX000017004  2010      5  d27  332.0  182.0
10       MX000017004  2010      6  d17  280.0  175.0
11       MX000017004  2010      6  d29  301.0  180.0
12       MX000017004  2010      7  d14  299.0  165.0
13       MX000017004  2010      7   d3  286.0  175.0
14       MX000017004  2010      8  d13  298.0  165.0
15       MX000017004  2010      8  d23  264.0  150.0
16       MX000017004  2010      8  d25  297.0  156.0
17       MX000017004  2010      8  d29  280.0  153.0
18       MX000017004  2010      8  d31  254.0  154.0
19       MX000017004  2010      8   d5  296.0  158.0
20       MX000017004  2010      8   d8  290.0  173.0
21       MX000017004  2010     10  d14  295.0  130.0
22       MX000017004  2010     10  d15  287.0  105.0
23       MX000017004  2010     10  d28  312.0  150.0
24       MX000017004  2010     10   d5  270.0  140.0
25       MX000017004  2010     10   d7  281.0  129.0
26       MX000017004  2010     11   d2  313.0  163.0
27       MX000017004  2010     11  d26  281.0  121.0
28       MX000017004  2010     11  d27  277.0  142.0
29       MX000017004  2010     11   d4  272.0  120.0
30       MX000017004  2010     11   d5  263.0   79.0
31       MX000017004  2010     12   d1  299.0  138.0
32       MX000017004  2010     12   d6  278.0  105.0